# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = "../output_data/weather_data.csv"
weather = pd.read_csv(weather_data)
weather

,City,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,75.29,42.60,-73.97,92,97,4.00,US,1595219325
1,Bara,72.57,10.37,10.73,93,92,10.96,NG,1595219326
2,Arraial do Cabo,70.41,-22.97,-42.03,85,0,22.44,BR,1595219326
3,Nouakchott,78.80,18.09,-15.98,83,40,14.99,MR,1595219326
4,Scarborough,47.43,54.28,-0.40,82,0,1.99,GB,1595219326
...,...,...,...,...,...,...,...,...,...
571,Saldanha,42.80,-33.01,17.94,93,0,2.24,ZA,1595219443
572,Abbeyleix,40.87,52.90,-7.36,94,0,2.19,IE,1595219443
573,Harlingen,79.88,26.19,-97.70,83,1,6.93,US,1595219444
574,Aksu,82.40,41.12,80.26,31,32,10.20,CN,1595219444
575,Calama,41.00,-22.47,-68.93,7,64,19.46,CL,1595219444

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [7]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather[["Latitude", "Longitude"]].astype(float)

# Convert Humidity to float and store
weather = weather.dropna()
humidity = weather["Humidity"].astype(float)

In [8]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
good_weather = weather.loc[(weather["Temperature"] > 70) & (weather["Temperature"] < 80) & (weather["Wind Speed"] < 10) & (weather["Cloudiness"] == 0), :]
good_weather = good_weather.dropna(how='any')
good_weather.reset_index(inplace=True)
del good_weather['index']
good_weather.head()

,City,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cherskiy,72.34,68.75,161.30,40,0,4.81,RU,1595204452
1,Zabrat,78.80,40.48,49.94,88,0,6.93,AZ,1595204486
2,Soma,70.45,39.19,27.61,88,0,5.59,TR,1595204568
3,Araguaçu,73.06,-12.93,-49.83,42,0,4.83,BR,1595204634
4,Birjand,71.60,32.87,59.22,15,0,6.93,IR,1595204636

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
hotels = []

hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for i in range(len(good_weather)):

    lat = good_weather.loc[i]['Latitude']
    lon = good_weather.loc[i]['Longitude']
    
    params = {"location": f"{lat}, {lon}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key}
    
    response = requests.get(hotel_url, params=params).json()
    
    try:
        hotels.append(response['results'][0]['name'])
    except:
        hotels.append("")
        
good_weather["Hotel"] = hotels
good_weather = good_weather.dropna(how='any')
good_weather

,City,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
0,Cherskiy,72.34,68.75,161.30,40,0,4.81,RU,1595204452,Chersky
1,Zabrat,78.80,40.48,49.94,88,0,6.93,AZ,1595204486,Baku
2,Soma,70.45,39.19,27.61,88,0,5.59,TR,1595204568,Soma
3,Araguaçu,73.06,-12.93,-49.83,42,0,4.83,BR,1595204634,Araguaçu
4,Birjand,71.60,32.87,59.22,15,0,6.93,IR,1595204636,Birjand
5,Dawlatabad,79.25,36.41,64.91,17,0,7.38,AF,1595204637,Dawlat Abad
6,Methóni,75.25,36.82,21.70,53,0,6.93,GR,1595204405,Methoni
7,Erzin,79.00,36.96,36.20,78,0,1.70,TR,1595204669,Erzin
8,Kununurra,75.20,-15.77,128.73,24,0,4.70,AU,1595204657,Kununurra
9,Nador,74.52,35.17,-2.93,78,0,3.36,MA,1595204578,Nador
10,Carbonia,73.33,39.17,8.52,78,0,4.70,IT,1595204719,Carbonia
11,Emba,74.34,48.83,58.14,46,0,7.29,KZ,1595204581,Embi
12,Şurmān,74.59,32.76,12.57,76,0,6.46,LY,1595204750,Surman
13,Dārāb,79.57,28.75,54.54,16,0,8.95,IR,1595204750,Darab
14,Simplício Mendes,72.99,-7.85,-41.91,61,0,5.53,BR,1595204752,Simplício Mendes
15,Cambrils,73.33,41.07,1.05,88,0,1.12,ES,1595204775,Cambrils
16,Colonia Nueva Germania,74.52,-23.90,-56.57,48,0,6.67,PY,1595204782,Nueva Germania
17,Alyangula,77.00,-13.85,136.42,61,0,6.93,AU,1595204698,Alyangula

In [28]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in good_weather.iterrows()]
locations = good_weather[["Latitude", "Longitude"]]

In [29]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))